<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=devise-width, initial-scale=1.0">
  <title>Portfolio RB</title>

  <link rel="stylesheet" href="/assets/custom.css">

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <header class="header">
    <a href="#" class="logo">Romain.</a>

    <div class="bx bx-menu" id="menu-icon"></div>

    <nav class="navbar">
      <a href="#accueil" class="active">Accueil</a>
      <a href="#apropos">A propos</a>
      <a href="#formation">Formation</a>
      <a href="#compétences">Compétences</a>
      <a href="#contact">Contact</a>
      </nav>
  </header>

  <section class="home" id="home">
    <div class="home-content">
      <h1>Bonjour, Je suis <span>Romain Buisine</span></h1>
      <div class="text-animate">
        <h3>Full stack Developer Ruby on rails</h3>
      </div>
      <p>Je suis un passionné de développement web full-stack spécialisé dans l'écosystème Ruby.
      Je suis résolument axé sur la qualité du code, la scalabilité et la satisfaction de l'utilisateur final.
      </p>

      <div class="btn-box">
        <a href="#" class="btn">Engagez-moi</a>
        <a href="#" class="btn">Parlons en</a>
      </div>
    </div>

    <div class="home-sci">
      <a href="#"><i class='bx bxl-facebook-square' ></i></a>
      <a href="#"><i class='bx bxl-twitter' ></i></a>
      <a href="#"><i class='bx bxl-linkedin' ></i></a>
    </div>

    <div class="home-imgHover"></div>
  </section>

  <section class="about" id="about">
    <h2 class="heading">A propos de <span>moi</span></h2>

    <div class="about-img">
      <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707751635/about_cosyaz.png" alt="Romain">
      <span class="circle-spin"></span>
    </div>

    <div class="about-content">
      <h3>Fullstack Developer Ruby on Rails!</h3>
      <p>Je suis un passionné de développement web full-stack spécialisé dans l'écosystème Ruby.</p>

      <div class="btn-box btns">
        <a href="#" class="btn">Voir plus</a>
      </div>
    </div>
  </section>






  <script src="js/script.js"></script>
</body>
</html>
